@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Variables Values */

:root {
  --light-shades: #FAFAFA; 
  /* filter: invert(100%) sepia(6%) saturate(6861%) hue-rotate(252deg) brightness(117%) contrast(96%); */
  --light-accent: #76A1B8;
  /* filter: invert(61%) sepia(14%) saturate(763%) hue-rotate(157deg) brightness(97%) contrast(91%);  */
  --main-color: #233D61;
  /* filter: invert(15%) sepia(80%) saturate(901%) hue-rotate(186deg) brightness(95%) contrast(83%); */
  --dark--accent: #727EA5;
  /* invert(49%) sepia(13%) saturate(953%) hue-rotate(188deg) brightness(99%) contrast(89%); */
  --dark-shades: #181721;
  /* filter: invert(4%) sepia(4%) saturate(7400%) hue-rotate(206deg) brightness(97%) contrast(89%); */
}

/* Resets */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s all ease;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/* Text Styles */

.heading {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(2rem, 3vmin, 5rem);
  color: var(--main-color);
  white-space: nowrap;
}

.text {
  font-family: 'Roboto Slab', serif;
  font-size: clamp(1rem, 2vmin, 3rem);
  color: var(--main-color);
}

/* Body */

body {
  width: 100%;
  background: var(--light-shades);
  overflow-x: hidden;
}

/* Header Section */

header {
  position:fixed;
  height: 10vh;
  width: 100%;
}

nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

nav a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav a img {
  height: 80%;
  width: auto;
  -webkit-filter: invert(16%) sepia(97%) saturate(557%) hue-rotate(179deg) brightness(90%) contrast(85%);
  filter: invert(16%) sepia(97%) saturate(557%) hue-rotate(179deg) brightness(90%) contrast(85%);
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin: 0 25px;
  font-weight: bold;
  cursor: pointer;
}

.fa-adjust {
  cursor: pointer;
}

/* Hero Section */

main {
  height: 100vh;
  width: 100%;
  position: relative;
}

.content__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content__container h1 {
  font-size: clamp(5rem, 10vmin, 6rem);
}

.content__container h2 {
  font-size: clamp(2.5rem, 5vmin, 3rem);
  font-style: italic;
  font-weight: 200;
}

.content__container .btn__container {
  margin-top: 25px;
  display: flex;
  align-items: center;
}

.content__container .btn__container div:nth-child(2) {
  margin-left: 25px;
  background-color: var(--light-shadest);
  border: 1px solid var(--dark-shades);
  color: var(--dark-shades);
}

.social__container {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 25px;
}

.social__container li {
  margin: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__cta {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100px;
  width: 100px;
  cursor: pointer;
}

.main__cta:before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 20px;
  height: 20px;
  border-left: 2px solid var(--main-color);
  border-bottom: 2px solid var(--main-color);
  transform:translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: cta 4s infinite;
          animation: cta 4s infinite;
}

.icon {
  font-size: clamp(3rem, 4vmin, 6rem);
  color: var(--main-color);
  cursor: pointer;
}

.btn {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  background-color: var(--dark-shades);
  color: var(--light-shades);
  font-weight: bold;
}



section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 200px;
}

.section__title {
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
}

.section__subtitle {
  margin: 5px 0;
  font-weight: 300;
  font-size: 2rem;
}

#work .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.case__study {
  position: relative;
  width: 100%;
  min-height: 400px;
  margin: 25px;
  padding: 50px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

.work__image {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.work__container {
  height: 66%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.work__container * {
  margin: 5px;
}

.work__title {
  font-size: 2rem;
  color: var(--secondary-color-lm);
  font-weight: 900;
  letter-spacing: 2px;
}

.work__description { 
  font-size: 1rem;
  color: var(--secondary-color-lm);
  font-style: italic;
  font-weight: 300;
  letter-spacing: 1px;
}

.work__cta {
  width: 150px;
  padding: 5px 10px;
  font-size: 0.8rem;
  background: var(--main-color-lm);
  color: var(--secondary-color-lm);
  border-radius: 4px;
  box-shadow: 4px 4px 8px var(--main-color-lm);
  text-align: center;
  margin-top: 10px;
}

#experience .container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.experience__position {
  width: 20%;
  position: relative;
  padding: 25px;
  display: flex;
  align-items: flex-end;
}

.job__timeframe {
  text-align: right;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bolder;
}

.experience__info {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.job__title {
  font-size: 1.4rem;
  font-weight: bolder;
  letter-spacing: 1px;
}

.company__name {
  font-size: 1.2rem;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
}

.company__description {
  font-size: 0.8rem;
  font-weight: 300;
  font-style: italic;
}

.company__achievements {
  margin-top: 10px;
}

.company__achievements li {
  font-size: 0.8rem;
  list-style: disc;
  margin: 5px;
}

#contact {
  position: absolute;
  height: 80vh;
  width: 80vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  flex-direction: row;
  z-index: -1000;
  transition: z-index 0s ease 0s;
}

#contact.active {
  z-index: 1000;
}

.close__contact__section {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 50px;
  transform: translate(-50%, 50%);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.close__contact__section i {
  color: var(--main-color-dm);
  font-size: clamp(2rem, 4vmin, 4rem);
}

.contact__container {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 100px;
  display: flex;
  flex-direction:column;
  box-shadow: 0 0 32px 0px var(--bg-color-dm);
}

.contact__section {
  background-color: var(--bg-color-lm);
  left: -200%;
}

#contact.active .contact__section {
  left: 0;
 }

.contact__section h2,
.contact__section h3,
.contact__section h4,
.contact__section label,
.contact__section input[type="text"],
.contact__section input[type="email"]
.contact__section textarea,
.contact__section p {
  color: var(--main-color-lm) !important;
}

.about__section {
  background-color: var(--bg-color-dm);
  right: -200%;
}

#contact.active .about__section {
 right: 0;
}

.about__section h2,
.about__section h3,
.about__section h4,
.about__section p {
  color: var(--main-color-dm);
}

.contact__container h2 {
  position: absolute;
  font-size: 20vmin;
  opacity: 0.1;
  z-index: 0;
}

.contact__heading {
  top: 0;
  left: 0;
}

.about__heading {
  bottom: 0;
  right: 0;
}

.contact__container h3 {
  margin: 10px 0;
  font-size: 2rem;
}

.contact__container h4 {
  margin: 10px 0 25px;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
}

form div {
  position: relative;
}

form div label {
  position: absolute;
  pointer-events: none;
  margin: 18px 16px;
  left: 0;
  background-color: var(--bg-color-lm);
}

form div input {
  background-color: var(--bg-color-lm);
  border: 1px solid  var(--main-color-lm);
  border-radius: 8px;
  padding: 8px 16px;
  margin: 10px 0;
  width: 100%;
}

form div textarea {
  width: 100%;
  min-height: 100px;
  background-color: var(--bg-color-lm);
  border: 1px solid  var(--main-color-lm);
  border-radius: 8px;
  padding: 8px 16px;
  margin: 10px 0;
}

form div input:focus ~ label,
form div input:valid ~ label,
form div textarea:focus ~ label,
form div textarea:valid ~ label {
  padding: 0 4px;
  margin: 2px 10px;
  font-size: 0.8rem;
}

input[type="submit"] {
  background-color: var(--main-color-lm);
  color: var(--bg-color-lm);
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  width: 200px;
  margin: 10px 0;
  cursor: pointer;
}

.about__section p {
  font-weight: lighter;
  line-height: 1.5rem;
  letter-spacing: 0.5px;
}

.technologies__container {
  margin: 50px 0;
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.technologies__container i {
  font-size: clamp(2rem, 6vmin, 8rem);
  color: #FFF;
  position: relative;
}

.technologies__container i p {
  position: absolute;
  bottom: 0;
  left: -100%;
  transform: translate(-50%, 100%);
  font-size: 0.8rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: var(--main-color-dm);
  white-space: nowrap;
  opacity: 0;
}

.technologies__container i:hover p {
  left: 50%;
  opacity: 1;
}

.fa-html5:hover {
  color: #E34C26;
}

.fa-css3-alt:hover {
  color: #264DE4;
}

.fa-js-square:hover {
  color: #F0DB4F;
}

.fa-react:hover {
  color: #61DBFB;
}

.fa-node-js:hover {
  color: #68A063;
}

.fa-laptop-code:hover {
  color: var(--main-color-lm);
}

footer {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--bg-color-dm);
}

.footer__logo {
  position: relative;
  height: 50px;
  width: 50px;
  margin: 25px;
}

.footer__logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer__logo p {
  position: absolute;
  left: 150%;
  color: var(--secondary-color-lm);
  font-size: 0.8rem;
  white-space: nowrap;
  opacity: 0;
}

.footer__logo:hover p {
  opacity: 1;
}

.footer__socials__container {
  width: 100%;
  height: 50px;
  margin: 25px;
}

.footer__socials__container ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__socials__container ul li {
  margin: 0 50px;
  cursor: pointer;
}

.footer__socials__container ul li a {
  font-size: 1.2rem;
  color: var(--secondary-color-lm); 
}

.footer__socials__container ul li:hover a {
  color: var(--main-color-lm);
}

.copyright {
  font-size: 0.8rem;
  color: var(--secondary-color-lm);
  margin: 25px;
}

.copyright a {
  color: var(--secondary-color-lm);
}

@-webkit-keyframes cta {
 0% {
   top: 0%;
 }
 50% {
   top: 80%;
 }
 100% {
   top: 0%;
 }
}

@keyframes cta {
  0% {
    top: 0%;
  }
  50% {
    top: 80%;
  }
  100% {
    top: 0%;
  }
}}